services:
  local-synapse:
    image: ghcr.io/metalpoch/local-synapse:latest
    container_name: local-synapse
    restart: unless-stopped
    init: true
    ports:
      - "8080:8080"
    environment:
      PORT: ${PORT}
      OLLAMA_URL: ${OLLAMA_URL}
      OLLAMA_MODEL: ${OLLAMA_MODEL}
      OLLAMA_SYSTEM_PROMPT: ${OLLAMA_SYSTEM_PROMPT}
    extra_hosts:
      - "host.containers.internal:host-gateway"
