services:
  local-synapse:
    image: ghcr.io/metalpoch/local-synapse:latest
    build:
      context: .
      dockerfile: Containerfile
    container_name: go-local-synapse-proxy
    restart: always
    ports:
      - "8080:8080"
    environment:
      PORT: ${PORT}
      JWT_SECRET: ${JWT_SECRET}
      VALKEY_ADDRESS: ${VALKEY_ADDRESS}
      OLLAMA_URL: ${OLLAMA_URL}
      OLLAMA_MODEL: ${OLLAMA_MODEL}
      OLLAMA_SYSTEM_PROMPT: ${OLLAMA_SYSTEM_PROMPT}
    extra_hosts:
      - "host.containers.internal:host-gateway"
